/**
 * Name: Chuanqi Ma, Cecelia Chen
 * Date: December 10, 2024
 * Section: CSE 154 AB Peter Oh
 * This is style.css that handles the style of index.html and setting.html and
 * shopping-history.html and sign-in.html.
 */
body {
  font-size: 20px;
  font-family: "Parkinsans", sans-serif;
}

#top, #menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

#menu {
  font-family: "Parkinsans", sans-serif;
  background-color: rgb(255, 226, 189);
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#top {
  background-color: rgb(85, 52, 21);
  padding: 10px;
}

.cm-beauty, .serach, .shopping-cart, .sign-in, .grid-list {
  height: 30px;
  padding: 20px;
  background-color: rgb(160, 129, 107);
}

#search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.shopping-cart {
  position: relative;
}

.shopping-number {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%); /* Adjusts the position for a better overlap look */
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#menu div {
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.grid-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  width: 250px;
  height: 450px;
}

.list-card {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  flex-wrap: wrap;
}

.card-body p {
  text-align: center;
}

.out-of-stock {
  background-color: rgba(75, 72, 70, 0.249);
}

.small-list-card {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  flex-wrap: wrap;
}

.small-list-card img {
  width: 40px;
  height: 40px;
}

#card-container p {
  margin: 10px;
}

#card-container img {
  width: 220px;
  height: 220px;
}

.button {
  background-color: rgb(166, 118, 84);
  color: rgb(223, 211, 194);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card-body:hover {
  background-color: rgba(226, 200, 176, 0.551);
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

#card-container {
  width: 100%;
}

.type-list-card-container {
  display: flex;
}

ul > div {
  margin: 10px;
}

.star-container {
  display: flex;
}

.basket-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 30px;
  font-size: 30px;
}

.basket-container .sign-in-btn,
.write-review .sign-in-btn {
  background-color: rgba(41, 36, 36, 0.426);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.sign-in-container,
.new-account-container,
.user-setting-container,
.shopping-history-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.sign-in-container,
.new-account-container {
  width: 400px;
}

.user-setting-container .x-btn,
.shopping-history-container .x-btn {
  position: absolute;
  top: 10px;
  right: 20px;
}

.product-info .x-btn {
  position: relative;
  top: 0px;
  right: 0px;
}

.curr-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.info-card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 80%;
  border-bottom: 1px solid black;
}

.history-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  margin: 5px;
}

.history-card .product-card {
  display: flex;
}

.info-card .info {
  position: absolute;
  left: 50%;
}

.info-card .icon-img {
  position: relative;
  left: 45%;
}

.info-card button {
  position: absolute;
  left: 80%;
}

.user-container {
  display: flex;
}

#user-settings-form button,
#user-settings-form div {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#user-settings-form input,
#user-settings-form textarea {
  width: 100%;
}

.cancel-save {
  display: flex;
}

.cancel-save div {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

#sign-in-form,
#new-account-form {
  display: flex;
  flex-direction: column;
}

.sign-in-container .x-btn,
.new-account-container .x-btn {
  position: relative;
  top: 10px;
  left: 180px;
}

.new-account button {
  background-color: rgba(41, 36, 36, 0.426);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-family: "Share Tech Mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#sign-in-form input[type="text"],
#sign-in-form input[type="password"],
#sign-in-form input[type="tel"],
#new-account-form input[type="text"],
#new-account-form input[type="password"],
#new-account-form input[type="tel"] {
  width: 300px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.product-info img {
  width: 400px;
  height: 400px;
}

.product-info {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-cart, .out-of-stock {
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
}

.add-cart {
  background-color: rgba(221, 44, 44, 0.3);
}

.add-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating form {
  width: 500px;
  height: 30px;
}

.success button {
  margin-left: 30px;
}

.review-form {
  display: flex;
  flex-direction: column;
}

/* Hidden Sign Out menu */
.sign-out, .user-setting, .shopping-history {
  display: none;
  position: absolute; /* Take the menu out of the document flow */
  left: 0;
  text-align: center;
  background-color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  border-color: black;
}

.sign-out {
  top: 100%; /* Position the menu directly below the Sign In link */
  height: 50%;
  width: 100%;
}

.user-setting {
  top: 150%;
  height: 50%;
  width: 100%;
}

.shopping-history {
  top: 200%;
  height: 100%;
  width: 100%;
}

/* Show the menu and overlay on hover */
.sign-in:hover .sign-out,
.sign-in:hover .user-setting,
.sign-in:hover .shopping-history {
  display: block;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Make this container the reference point for positioning */
}

.star {
  color: lightgray; /* Color of the empty stars */
  cursor: pointer; /* Change the cursor on hover */
}

.star.filled {
  color: black; /* Color of the filled stars */
}

.added-products img {
  width: 200px;
  height: 200px;
}

.cart-card {
  display: flex;
  font-size: 15px;
  margin: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  align-items: center;
}

.failed {
  border: 3px solid red;
}

.stock {
  color: red;
}

.check-out {
  background-color: rgb(232, 95, 95);
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.comment-card {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.comment-card p {
  margin: 20px;
}

.comment-card .comment {
  position: absolute;
  left: 30%;
}

.comment-card .star-container {
  position: absolute;
  left: 20%;
}

.comment {
  width: 100%;
  margin: 10px;
}

.receipt {
  border: 3px solid rgb(9, 236, 9);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.success-products .products {
  display: flex;
  flex-direction: column;
}

.success-card img,
.history-card img {
  width: 60px;
  height: 60px;
}

.success-card,
.history-card {
  display: flex;
  font-size: 20px;
  border-radius: 10px;
  justify-content: space-evenly;
}

.shopping-history-container p {
  width: 100%;
  text-align: center;
}

.go-to-main {
  background-color: rgb(232, 95, 95);
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.icon-selection {
  padding: 10px;
}

.icon-img {
  width: 40px; /* Adjust size */
  height: 40px; /* Adjust size */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; /* Smaller font size */
  border: 2px solid transparent;
  border-radius: 50%; /* Make it circular */
}

.selected {
  border-color: blue; /* Light background for visibility */
}

.comment-open {
  font-size: 15px;
  background-color: #ccc;
  width: 250px;
  text-align: center;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
